<nav>
  {{#link-to 'application'}}Home{{/link-to}}|
  {{#link-to 'about'}}About{{/link-to}}|
  {{#link-to 'team'}}Team{{/link-to}}|
  {{#link-to 'contact'}}Contact{{/link-to}}
</nav>

<h1> Welcome to <span class='red'>Ember!</span></h1>

{{outlet}}
